@import url("responsive.css");
@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* fonts */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf") format("truetype"),
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
/* body */
body{
    width:100%;
    height:100vh;
    padding:0px;
    margin:0px;
    background:var(--dark-bg);
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden !important;
}

.deco{
    color: var(--yellow-light);
}

/* navbar */
.nav{
    width: 100%;
    height: 100px;
    padding:10px;
    position: relative;
}
.nav .logo-cont{
    position: absolute;
    top:5px;
    left:20px;
}
.nav .logo-cont .logo{
    width:150px;
}

.nav .action{
    position:absolute;
    right:20px;
    padding:15px;
    font-weight: 500;
}
.nav .action a{
    padding:5px;
}
.nav .action a:hover{
    color:var(--yellow-light);
    border-bottom: 2px solid var(--yellow-light);
}
/* section container */
.section{
    width:100%;
    height:auto;
    position:relative;
    padding:0px;
    margin:0px;
}

.section .signup-cont{
    position:relative;
    width:350px;
    margin:0px auto;
    padding:0px;
    height:auto;
    text-align: center;
}

.section .signup-cont .head{
    width:350px;
    text-align: center;
    color: #ccc;
    margin: 0px auto;
    margin: 20px auto;
}

.section .signup-cont .head .oauth-cont{
    width: calc(600px/2);
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:0px auto;
}
.section .signup-cont .head .oauth-cont a{
    padding:12px;
    border-radius: 50%;
    background:var(--dark-light);
}

/* form-container */
.section .signup-cont .form-cont{
    width:350px;
    margin:10px auto;
    padding:12px;
}
.section .signup-cont .form-cont .inp-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding:12px;
    width:100%;
}
.section .signup-cont .form-cont .inp{
    background: var(--dark-light);
    outline: none;
    border: none;
    border: 2px solid var(--dark-bg);
    padding:10px;
    width:300px;
    height:50px;
    border-radius: 6px;
    color:#ccc;
}
.section .signup-cont .form-cont .form-control:focus{
    border: 2px solid var(--dark-bg);
}
.section .signup-cont .form-cont .btn-cont{
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
    padding:10px;
}
.section .signup-cont .form-cont .btn-submit{
    background:var(--yellow-light);
    width: 100%;
    color:#000;
    border-radius: 30px;
    padding:12px;
    font-weight:600;
}

.section .signup-cont .form-cont .btn-submit:hover{
    background:var(--yellow-dark);
    transform: scale(0.9);
}

.section .signup-cont .form-cont .btn-submit:focus{
    background:var(--yellow-dark);
}

@media(min-width:300px){
    body{
        overflow-x: hidden;
    }
}













