@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* fonts */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf") format("truetype"),
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* body */
body{
    width:100%;
    height:100vh;
    padding:0px;
    margin:0px;
    /* background:var(--dark-bg); */
    background: var(--dark-light); 
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
}

.deco{
    color: var(--yellow-light);
}

.nav{
    width:100%;
    height:12vh;
    padding: 0px;
    position: relative;
    top:0px;
    left:0px;
    background: var(--dark-md); 
}
.nav .logo-cont img{
    width:100px;
}
.nav .user-nav-cont{
    position: absolute;
    top:10px;
    right:10px;
    width:120px;
}
.nav .user-nav-cont .img-cont{
    width:55%;
}

.nav .user-nav-cont .img-cont img{
    width:70%;
    border-radius: 50%;
    cursor: pointer;
}
.nav .user-nav-cont .img-cont img:hover{
    transition: .1s;
    transform: scale(.9);
}

.nav .user-nav-cont .user-nav{
    position: absolute;
    right:0px;
    top:50px;
    padding:0px;
    background:var(--dark-light);
    border-radius: 5px;
    width:200px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#ccc;
    display: none;
}
.nav .user-nav-cont .user-nav .list{
    padding:0px;
}
.nav .user-nav-cont .user-nav .list li{
    line-height: 20px;
    padding:15px;
    margin:5px auto;
    transition: .1s;
    color: #ccc;
}
.nav .user-nav-cont .user-nav .list li a{
    color: #ccc;
}
.nav .user-nav-cont .user-nav .list li:hover{
    background: var(--dark-bg);
}   

.nav .user-nav-cont .user-nav .list li .icon{
    color: var(--yellow-light);
}


/* header */
.header{
    padding: 0px;
    width:100vw;
    height:50vh;
    overflow: hidden;
    background-image: url("../images/headers/profile-bg.png");
    background-size:cover;
    background-position: center;
    position: relative;
}

.header .ovl{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.5);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#cccc;
    text-align: center;
}
.header .ovl .edit-cont{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.header .ovl .edit-cont .btn{
    border-radius: 30px;
    margin: 10px;
}
.header .ovl .edit-cont .profile-edit{
    background: var(--yellow-light);
}
.header .ovl .edit-cont .profile-share{
    background: var(--dark-light);
    color: #ccc;
}
/* section */
.profile-section{
    width:100%;
    height:100vh;
    position: relative;
    top:0px;
    left:0px;
}

.profile-section .main-cont{
    width:90%;
    margin:0px auto;
    position: relative;
    top:0px;
    left:0px;
}
.profile-section .main-cont .layout{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-areas: "user-card main-cont";
    position: relative;
    grid-gap: 20px;
}

/* User card container */
.profile-section .main-cont .layout .user-card-cont{
    width: 300px;
    background: var(--dark-bg);
    position:relative;
    top:-50px;
    max-height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    float: left;
    grid-area: user-card;
}
.profile-section .main-cont .layout .user-card-cont .user-info{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    text-align: center;
    color:#ccc;
}


/* More container */
.profile-section .main-cont .layout .user-card-cont .profile-more-cont{
    position: absolute;
    top:70px;
    right:-10px;
    background: var(--transparent-dark);
    padding:10px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #000;
    display: none;
}
.profile-section .main-cont .layout .user-card-cont .profile-more-cont .btn{
    background: var(--dark-light);
    color: #ccc;
}

/* More container icon-button */

.profile-section .main-cont .layout .user-card-cont .more ion-icon{
    position: absolute;
    top:20px;
    right:30px;
    padding: 12px;
    background: var(--dark-light);
    border-radius: 50%;
    color:#ccc;
    cursor: pointer;
}
.profile-section .main-cont .layout .user-card-cont .more ion-icon:hover{
    transform: scale(1.1);
}
.profile-section .main-cont .layout .user-card-cont .user-info img{
    width:100px;
    border-radius: 50%;
    border: 4px solid var(--yellow-light);
}

.profile-section .main-cont .layout .user-card-cont .user-info .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-section .main-cont .layout .user-card-cont .user-info .links a{
    padding:5px;
    color: var(--yellow-light);
}

.profile-section .main-cont .layout .user-card-cont .user-info .user-action{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-section .main-cont .layout .user-card-cont .user-info .user-action .btn{
    color:#ccc;
    background: var(--dark-bg);
    border: none;
    outline: none;
    border: 2px solid var(--yellow-light);
    border-radius: 30px;
    position: relative;
    text-align: end;
    margin:5px;
    font-size: 15px;
}
.profile-section .main-cont .layout .user-card-cont .user-info .user-action .btn.follow-btn{
    background: var(--yellow-light);
    color:var(--dark);
    font-weight: 600;
}
.profile-section .main-cont .layout .user-card-cont .user-info .user-action .btn .icon{
    /* padding:12px; */
}
.profile-section .main-cont .layout .user-card-cont .user-info .user-action .btn:focus{
    border: none;
    border: 4px solid var(--yellow-dark);
}


.profile-section .main-cont .layout .user-cont{
    float: left;
    left:0px;
    min-width: 100%;
    max-width:50%;
    margin:12px auto;
    /* position: absolute; */
    /* top:0px; */
    /* left: 26%; */
    height:100vh;
    grid-area: main-cont;
}

.profile-section .main-cont .layout .user-cont .main-tab-cont{
    padding:0px;
}
.profile-section .main-cont .layout .user-cont .main-tab-cont .tab-button{
    display: flex;
    align-items: start;
    justify-content:start;
    background: var(--dark-bg);
    border-radius: 5px;
}
.profile-section .main-cont .layout .user-cont .main-tab-cont .tab-button .btn{
    color:#ccc;
    border-radius: 30px;
    margin:10px;
    font-size: 12px;
}

.profile-section .main-cont .layout .user-cont .main-tab-cont .tab-button .btn.active{
    background: var(--yellow-light);
    color:#000;
    
}

/* Posts content */
.profile-section .main-cont .layout .user-cont .portfolio-cont{
    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
    width:350px;
    height:auto;
    background:var(--dark-bg);
    margin: 5px;
    box-shadow: 0px 0px 3px var(--dark-light);
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 3px var(--dark-bg);
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    color:#ccc;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .post-cont{
    height:auto;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .left img{
    width: 15%;
    border-radius: 50%;
}
.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right{
    padding:10px;
    position: relative;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right ion-icon{
    padding:8px 8px;
    border-radius: 50%;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
}
.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right ion-icon:hover{
    transform: scale(.9);
    background: var(--dark-bg);
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right .post-info-cont{
    position: absolute;
    width:125px;
    padding-top:10px;
    background: var(--dark-bg);
    left:0px;
    border-radius: 7px;
    left:-60px;
    z-index: 5;
    display: none;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right .post-info-cont .btn{
    color:#ccc;
    padding:8px 10px;
    width:100%;
    border: none !important;
    outline: none !important;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right .post-info-cont .btn:focus{
    border: none !important;
    background: var(--dark-md);
}
.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .right .post-info-cont .btn:hover{
    background: var(--dark-md);
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-img{
    padding: 10px;
    position: relative;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-img .img-cont{
    position: relative;
    
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-img img{
    border-radius: 10px;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-img .post-cont{
    position: absolute;
    left:0px;
    width:100%;
    background: var(--transparent-md);
    bottom:0px;
    border-radius: 0px 0px 10px 10px;
    padding:10px;
    color:#ccc;
    text-align: center;
    display: none;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-img:hover .post-cont{
    display: inline;
    text-align: center;
}


.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .reaction-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    color: #ccc;
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .reaction-cont ion-icon{
    padding:5px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .reaction-cont ion-icon:hover{
    transform: scale(1.2);
    background: var(--dark-light);
}

.profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .reaction-cont .reaction{
    display: flex;
}








@media(min-width: 300px){
    .profile-section .main-cont .layout{
        grid-template-columns:1fr;
        grid-template-areas: "user-card" "main-cont";
    }

    .profile-section .main-cont .layout .user-card-cont{
        width:100%;
    }

    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:100%;
    }

}

/* Tablet potrate/landscape*/

@media(min-width: 992px){
    .nav{
        height: 7vh;
    }
    .profile-section .main-cont .layout{
        grid-template-columns:2fr;
        grid-template-areas: "user-card" "main-cont";
    }
    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:450px !important;
    }
    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card .portfolio-info .post-cont img{
        width:50px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info img{
        width:150px;
    }
    .profile-section .main-cont .layout .user-card-cont{
        width:100%;
    }

    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:100%;
    }

    /* User card container */
    .profile-section .main-cont .layout .user-card-cont{
        height:330px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info{
        align-items: start;
        justify-content: start;
        width:100%;
        padding: 12px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info{
        width: 100%;
        display: flex;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info .user-name{
        width: 60%;
    }

    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info .user-name{
        text-align: start;
        padding:10px;
    }

}

/* Tablet */
@media(min-width: 1200px){
    .nav{
        height:10vh;
    }
    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:400px !important;
    }
    .profile-section .main-cont .layout{
        display: grid;
        grid-template-columns:2fr 6fr;
        grid-template-areas: "user-card main-cont";
    }
    .profile-section .main-cont .layout .user-card-cont{
        height: 550px !important;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding: 12px;
        text-align: center;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info img{
        width:100px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info .user-name{
        width: 100%;
        text-align: center;
    }
}


/* Ipad Pro */

@media (min-width:1400px){
    body{
        background: red;
    }
    .nav{
        height:12vh;
    }
    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:450px;
    }
    .profile-section .main-cont .layout{
        display: grid;
        grid-template-columns:2fr 6fr;
        grid-template-areas: "user-card main-cont";
    }
    .profile-section .main-cont .layout .user-card-cont{
        height:400px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info img{
        width:50px;
    }
    .profile-section .main-cont .layout .user-card-cont{
        width:100%;
    }
    
    .profile-section .main-cont .layout .user-cont .portfolio-cont .port-card{
        width:100%;
    }
    
    /* User card container */
    .profile-section .main-cont .layout .user-card-cont{
        height:350px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info{
        display: flex;
        align-items: start;
        justify-content: start;
        width:100%;
        padding: 12px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info{
        width: 100%;
        display: flex;
        align-items: start;
        padding:20px;
    }
    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info .user-name{
        width: 60%;
        position: absolute;
        left:200px;
    }

    .profile-section .main-cont .layout .user-card-cont .user-info .users-main-info .user-name{
        text-align: start;
        padding:10px;
    }
}